---
import "../styles/global.css";
import { Search } from "../components/Search";
import { Library } from "../components/Library";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Taurus Decks</title>
  </head>
  <body>
    <h1>Taurus Decks</h1>
    <h2>Search</h2>
    <Search client:only="preact" />
    <h2>Library</h2>
    <Library client:only="preact" />
  </body>
</html>
